
<h3>Howtos</h3>
<ul>
	<li>1. choose left menu you want to </li>
	<li>2. In the Data chart and Geomap chart, whenever you click 'show graph button' or 'show geomap button', you can see the renewed result.</li>
</ul>
<br />
<h3>Source Code Repository</h3>
<ul>
	<li>* http://code.google.com/p/worldbank</li>
</ul>
<br />
<h3>Bug or New feature request</h3>
<ul>
	<li>* use google issue ( http://code.google.com/p/worldbank/issues/list )</li>
</ul>
<br />
<h3>Version History</h3>
<h2>0.1.2</h2>
<ul>
	<li>* process error, when there is no data.</li>
	<li>* add http_cache. cached data will be saved for a week.</li>
</ul>
<h2>0.1.1</h2>
<ul>
	<li>* add header information to the ajax-proxy.php file</li>
	<li>* add header information to the indicator-query.php file</li>
</ul>


